<!DOCTYPE html>
<html>
  <head>
    <title>SlackAPI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:status] %>
     <section class="alert alert-<%= flash[:status] %>">
       <h3>
         <%= flash[:result_text] %>
       </h3>
     </section>
    <% end %>
    <%= yield %>
  </body>
</html>
